*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    width: 100%;
    height: 70px;
    background-color: lightblue;
    display: flex;

}

.navbar img{
    height: 40px;
    width: 40px;
    margin: 10px 0 0 80px;
}

.logo{
    display: flex;
    align-items: center;
    
    

}
.logo h1{
    margin-left: 15px;
    margin-top: 6px;
}

.search{
    margin: 25px 0 0 250px;
}
.search input{
    padding: 5px;
    width: 300px;
}


.category{
    background-color: lavender;
    display: flex;
}